.footer {
   
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(117, 106, 106, 0.8) -6px -2px 16px 0px;
    background-color: var(--darkRed);
}

.footer__nav {

    display: flex;
    justify-content: center;
    align-items: center;
 }
 @media (max-width: 662px) {
     .footer__nav {
         display: flex;
         padding: 0;
         margin: 0;
     }
 }
 .footer__nav--link {
     vertical-align:middle;
     margin: 15px;
     text-decoration: none;
 }
 .footer__nav .current {
     padding: 1%;
     border-bottom: 5px solid black;
     box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
     border-radius: 45px;
 }