:root {
    --headingFont: 'Montserrat', sans-serif;
    --normalTextFont: 'Zilla Slab', serif;
    --answerFont: 'Passion One', cursive;
    --blue: rgb(86, 182, 246);
    --darkBlue: rgb(8, 33, 101);
    --yellow: rgba(252, 240, 23, 0.812);
    --darkYellow: rgba(0, 0, 0, 0.877); 
    --violet: rgb(248, 248, 248);
    --darkRed: rgba(135, 79, 79, 0.907);
    --green: rgba(35, 36, 35, 0.774);
    --darkGreen: rgb(23, 94, 25);
    --white: rgb(255, 255, 255);
    --black: rgba(0, 0, 0, 0);

}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--green);
  

}
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2 {
    font-family: var(--headingFont);
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-align: center;
}

p {
    font-family: var(--normalTextFont);
    
}
